.badge {
    position: relative;
    background-color: red;
    border-radius: 50%;
    border: 2px solid #666;
    color: white;
    top: 0px;
    width: 25px;
    height: 25px;
    text-align: center;
    left: 15%;
}
