.badge {
    position: absolute;
    top: 15px;
    right: 15px;
    width:20px;
    height: 20px;
    color:rgb(202, 200, 200);
    background-color: rgb(123, 95, 168);
    border-radius: 50%;
    text-align: center;

}

